*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    flex-direction: column;

}

.container {
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
}

.background {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -100;
    opacity: .1;
}

h1 {
    font-family: 'Montserrat';
    font-size: 24px;

    margin-bottom: 20px;
    text-decoration-style: regular;
    letter-spacing: 6px;
    margin-top: 10px;
    font-weight: 400px;
}


    
}

.sm a {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #222222b2;
    line-height: 50px;
    color: #ffffff;
    font-size: 26px;
    border-radius: 50%;
    margin: 0 10px;
    transition: .3s linear;
}

.sm a:hover {
    transform: scale(1.1);
    background-color: #222222;}


.wsdlogo img {

   width: 250px;
   height: auto;
}


.content1 p {
    font-family: 'Montserrat';
    font-size: 12px;
    letter-spacing:3px;
    color: #d9d9d9;
    font-weight: 200px;
    
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid white; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(23, end),
    blink-caret .75s step-end 23 ;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}





.content2 p {
    margin-top:10px;
    font-family: 'Montserrat';
    font-size: 12px;
    letter-spacing:3px;
    color: #d9d9d9;
    font-weight: 200px;
   
    
    
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid white; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation-delay: 2s;
  
     typing1 3.5s steps(23, end) 2s, /* Add a 2-second delay before starting the typing animation */
    blink-caret1 .75s step-end 23; 

}
   

/* The typing effect */
@keyframes typing1 {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret1 {
  from, to { border-color: transparent }
  50% { border-color: white; }
}





.sm {
    margin-top: 50px;
}

.linkform {
  padding-top: 50px;
 
}

}
.linkform a {
    color:#d9d9d9;
    letter-spacing: 1px;
    border: 1px solid #fff;
    margin-top:40px;
    padding: 10px 30px 10px 30px;
    text-decoration: none;
    border-radius: 25px;
}



 @media only screen and (max-device-width: 480px) {h1 {
    font-size: 20px;
    margin-bottom: 20px;
    text-decoration-style: regular;
    letter-spacing: 10px;
    margin-top: 30PX;
    font-weight: 100px;
}
     
     .content p {
    font-size: 10px;
    letter-spacing: 3px;
         padding-bottom: 15px;
    color: #d9d9d9;
         text-transform: none;
}
     
