*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
      flex-direction: column;

}

.container {
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
}

.background {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -100;
    opacity: .1;
}

h1 {
    font-family: 'Montserrat';
    font-size: 22px;

    margin-bottom: 20px;
    text-decoration-style: regular;
    letter-spacing: 10px;
    margin-top: 30PX;
    font-weight: 300px;
}

.sm {

    
}

.sm a {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #222222b2;
    line-height: 50px;
    color: #ffffff;
    font-size: 26px;
    border-radius: 50%;
    margin: 0 10px;
    transition: .3s linear;
}

.sm a:hover {
    transform: scale(1.1);
    background-color: #222222;}


.wsdlogo img {

   width: 250px;
   height: auto;
}

.content p{
    font-size: 12px;
    letter-spacing: 7px;
    color: #d9d9d9;

}

.sm {
    margin-top: 50px;
}

.linkform {
    padding-top: 50px;

}
.linkform a {
    color:#d9d9d9;
    letter-spacing: 1px;
    border: 1px solid white;
    margin-top:40px;
    padding: 10px 30px 10px 30px;
    text-decoration: none;
    border-radius: 25px;
}

.word1 {
  margin: auto;
  color: white;
  font: 700 normal 2.5em 'tahoma';
  text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;
}

 @media only screen and (max-device-width: 480px) {h1 {
    font-size: 20px;
    margin-bottom: 20px;
    text-decoration-style: regular;
    letter-spacing: 10px;
    margin-top: 30PX;
    font-weight: 100px;
}
     
     .content p {
    font-size: 10px;
    letter-spacing: 5px;
         padding-bottom: 15px;
    color: #d9d9d9;
         text-transform: none;
}
     
     
.Iam {
  padding: 2em 5em;
  font: normal 40px/50px Montserrat, sans-serif;
  color: #999;
}
.Iam p {
  height: 50px;
  float: left;
  margin-right: 0.3em;
}
.Iam b {
  float: left;
  overflow: hidden;
  position: relative;
  height: 50px;
  top: 40px;
}
.Iam .innerIam {
  display: inline-block;
  color: #e74c3c;
  position: relative;
  white-space: nowrap;
  top: 0;
  left: 0;


/*animation*/
-webkit-animation:move 5s;
   -moz-animation:move 5s;
    -ms-animation:move 5s;
     -o-animation:move 5s;
        animation:move 5s;
/*animation-iteration-count*/
-webkit-animation-iteration-count:infinite;
   -moz-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
     -o-animation-iteration-count:infinite;
        animation-iteration-count:infinite;
/*animation-delay*/
-webkit-animation-delay:1s;
   -moz-animation-delay:1s;
    -ms-animation-delay:1s;
     -o-animation-delay:1s;
        animation-delay:1s;
}
@keyframes move{
0%  { top: 0px; }
20% { top: -50px; }
40% { top: -100px; }
60% { top: -150px; }
80% { top: -200px; }
}

@-webkit-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@-moz-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@-o-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
   
